/* Importar estilos de Leaflet globalmente */
@import 'leaflet/dist/leaflet.css';

/* Sobrescribir z-index de SweetAlert2 */
.swal-container-high-z {
  z-index: 10000 !important;
}

.swal-popup-high-z {
  z-index: 10001 !important;
}

/* Estilos personalizados para Leaflet */
.leaflet-container {
  font-family: inherit;
}

.leaflet-popup-content-wrapper {
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 13px 19px;
}
